# Java
*.class
*.jar
*.war
*.ear
*.log

# IDEs
.idea/
.vscode/
*.iml
.classpath
.project
.settings/

# OS
.DS_Store
Thumbs.db

# Build
out/
/out-vscode/
/bin/
/target/

# Tooling
/.github/java-upgrade/
